
APP_NAME="Mini RAG App"
APP_VERSION="1.0.0"
OPENAI_API_KEY="your_openai_api_key_here"
FILE_ALLOWED_TYPES=["text/plain", "text/csv", "application/pdf", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000
# MongoDB_URI=""
# MONGODB_NAME=""

POSTGRES_HOST=""
POSTGRES_PORT=
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="COHERE"

OPENAI_KEY=""
OPENAI_API_URL="https://api.openai.com/v1"

COHERE_API_KEY=""

GENEERATION_MODEL_ID="gpt-4o-mini"
EMBEDDING_MODEL_ID="embed-v4.0"
EMBEDDING_MODEL_TEMPERATURE="0.1"
INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=512
EMBEDDING_MODEL_SIZE=1024


VECTOR_DB_BACKEND="Qdrant"

VECTOR_DB_PATH="qdrant_db"

VECTOR_DB_DISTANCE_METRIC_METHOD="Cosine"

DEFAULT_LANGUAGE="en"
PRIMARY_LANGUAGE="en"